__pycache__/
*.pyc
*.pyo
.env
venv/
env/
.venv/
instance/
*.db
*.sqlite
app/static/uploads/chantiers/*
app/static/uploads/documents/*
!app/static/uploads/chantiers/.gitkeep
!app/static/uploads/documents/.gitkeep
.vscode/
.idea/
*.log
migrations/versions/__pycache__/

.vercel
.env*.local

# Logs de debug temporaires
vlogs.txt

*.orig
